<footer>
        <hr style="margin-top:1rem; margin-bottom:0; border:0; ">
<p class="footerText">Chris Cullen Web Dev & SEO  Copyright 2017 - <em> Made By ChrisCullen </em>  </p>


</footer>


</div> 

</body>

</html>