<% include ./partials/header.ejs %>


<div id="aboutWrapper">
      <div id="homeTitle" class=" animated lightSpeedIn"  >
                       <h1 > Chris Cullen | Web Dev & SEO  </h1>
        
        </div>
 <div class="container">
     <div class="row">
         <div class="col-lg-6 col-xs-6">
             <p class="meText"> 
Hi Im Chris. 
    I'm a full stack Web Developer and SEO professional. <br>
    With experience in  HTML, CSS and JavaScript (Front & BackEnd) I enjoy building projects that require the use of all of my skills set.
    <br></br>
    Having made multiple sites and applications I realised one of the major factors of them is actually getting the public to see them!
    This is where I discovered my passion for SEO and Digital Marketing. <br>
    I love to get hands on with creating unique and engaging content. I enjoy investigating backlink portfolios and thinking of creative custom SEO strategies that allow me to flex my analytical muscles as well.
    <br></br>
    Originally from London, Uk I am currently living in sunny Brisbane and settling into the Aussie way of life.
   In my free time I like to keep fit and enjoy active pursuits.
   I'm currently practicing Jiu-Jitsu and trying to get into a running regime (4min mile here we come!).
   When nobody is around you can catch me learning the guitar.
    <br></br>
    
 I am very passionate about Web Development and SEO, and strive to better myself as a full service Digital Marketer.</p>
             
         </div>
         <div class="col-lg-6 col-xs-6">
             <img class="mePic"  src="https://preview.ibb.co/i9YHxQ/IMG_3317.jpg" alt="chris cullen seo web dev">
         </div>
     </div>
     
 </div>


</div>
      
<% include ./partials/footer.ejs %>
