<% include ./partials/header.ejs %>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h1 class="contactTitle"> Contact Us </h1>

        </div>
        <div class="col-sm-4">
    <p> Feel Free to give contact me at your convenience.</p>
   <p> If you have any queries feel free to send  me an email or give me a ring </p>

            </div>
                    <div class="col-sm-4">
                                    <img class="contactImg" src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRUt8tWlHRh0WjEGgI31QfTUe9DqIbIhpg2SLac3AE-4O6BjsRNA">


</div>

        </div>
    </div>
</div>


<div id="contact">
    <div class="contactWrapper">
        
 <div class="container">
        <div class="row ">
            <div class="col-sm-4  contactBox lastCol">
<form class="contactForm responsiveContact" action="MAILTO:cucullen111@lycos.com" method="post" enctype="text/plain">
       <input type="text" placeholder="Name" name="name">
       <input type="text" placeholder="Email" name="Email">
       <textarea placeholder="Enter Your Query Here" name="message"></textarea>
       <input type="submit" value="send" class="btn btn-default btn-primary">
   </form>

            </div>
            
                        <div class="col-sm-4 contactBox ">

                <ul class="iconList">
                    <li> <a href=" https://github.com/123xylem"> <i class="fa fa-github-square fa-3x" aria-hidden="true"></i></a> </li>
                    <li><a href=" https://codepen.io/collection/nRKNmY/"> <i class="fa fa-codepen fa-3x" aria-hidden="true"></a></i> </li>
                    <li> <a href="https://www.freecodecamp.org/123xylem/"><i class="fa fa-free-code-camp fa-3x" aria-hidden="true"></i></a>
</li>

                </ul>

                     
            </div>

                        <div class="col-sm-4 contactBox">

                
                                           <div>  
             <div class="responsiveContact" id="map"></div>
    <script>
      function initMap() {
        var brisbane = {lat: -27.470125,  lng:153.0251};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: brisbane
        });
        var marker = new google.maps.Marker({
          position: brisbane,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSlGVsa2fgJGeHrRV62TPbNe_kPrdP3JI&callback=initMap">
    </script>    </div>

            </div>
            
            
    </div>
                </div>


   
<div class="clearfix"></div>
 

<% include ./partials/footer.ejs %>
