<% include ./partials/header.ejs %>

        <div id="homeTitle" class=" animated lightSpeedIn"  >
                       <h1 > Chris Cullen | Web Dev & SEO  </h1>
        
        </div>


<div id="me">
     <div class="meWrapper">
         <div class="container">
             
             <div class="row">
                 <div class=" col-xs-6">
                   <div class="expandable2" >

                <a href="#">  <h4 class="homeH4 animated bounce"><strong>SEO Services   </strong>        <i style="margin-left:1.1rem;"class="fa  fa-chevron-down" aria-hidden="true"></i>  </h4></a>
                <div class="showMe2 meSkills" style="display:none" >

                          <ul class="meList">
                            <li>  <i class="fa fa-check" aria-hidden="true"></i>
 Search Engine Optimisation </li>

                            <li><i class="fa fa-check" aria-hidden="true"></i>
 Improving Site Structure </li>
                         <li><i class="fa fa-check" aria-hidden="true"></i>
Backlink optimization </li>
                      <li><i class="fa fa-check" aria-hidden="true"></i>
Optimizing On Page Content </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>
Crawlers  and robots.txt	Implementations</li>
                        </ul>
                    </div>
                </div>

                 </div>


                <div class=" col-xs-6">
                   <div class="expandable" >
                       <a href="#">  <h4 class="homeH4 animated bounce">  <strong> Web Development Services </strong><i style="margin-left:1.1rem;" class="fa  fa-chevron-down" aria-hidden="true"></i>  </h4> </a>
<div class="showMe meSkills" style="display:none" >
    
                        <ul class="meList">

                            <li><i class="fa fa-check" aria-hidden="true"></i>
  HTML5 </li>
                            <li><i class="fa fa-check" aria-hidden="true"></i>
CSS3 </li>
                             <li><i class="fa fa-check" aria-hidden="true"></i>
JavaScript</li>
                              <li><i class="fa fa-check" aria-hidden="true"></i>
NodeJS, Express </li>
                              <li><i class="fa fa-check" aria-hidden="true"></i>
Site Authentication </li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>
MongoDB, PassportJS</li>
                             <li><i class="fa fa-check" aria-hidden="true"></i>
Git GitHub</li>
                              <li><i class="fa fa-check" aria-hidden="true"></i>
RESTFUL Methods</li>
                
                        </ul> 
</div>
                   </div>


             </div>
         </div>

            
       
        
        
    </div>
    <div class="clearfix"></div>

</div>



   
    <!----------------------------------------         WORK SECTION  ----------------------------------------------------------->
   
        <div id="work">
            <div class="workWrapper">
                            <h4 class="homeH3"><strong>Past Projects</strong> </h1>
            <div class="container">
                 <div class="row">
           <div class="col">
               <div class="projectBox"><a href="https://123xylem.github.io/TravelSite/"> 
               <img alt="my site" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkN_tblYv9E8kJi_WUJurD6dCEqXhW70zWYlUb7FxH3qppc9_G" target="_blank">
                      <div class="caption">
                                                       <h6> Mobile First Travel Site</h6></a>

                          <p>Mobile First Web Page utilising Gulp, Git, Image Optimisation and best Industry practices</p>  
                      </div>     
                      </div>
                          </div>
           
           <div class="col">
                <div class="projectBox"><a  href="https://evolveaware.com/">
                    <img alt="my evolve site" src="https://images.pexels.com/photos/158465/waterlily-pink-water-lily-water-plant-158465.jpeg?h=350&auto=compress&cs=tinysrgb" target="_blank">
                        <div class="caption">
                             <h6> EvolveAware</h6> </a>
                            <p>Online Retail Store. Built with a  CMS and further supported with SEO SEM and SMO. </p>  
                        </div>
                        </div>
                </div>
           
             <div class="col">
                     <div class="projectBox" ><a  href="https://camp-finder-site.herokuapp.com/">
                           <img alt="my site" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFgAaM8v3hDGcBsUDro0JZ1R6z8bQqHav2HFcZqy8174U2xN5-" target="_blank"> 
                        <div class="caption">
                                                            <h6>CampSite Database</h6></a>
                            <p> Online Database Of CampSites. Utilizing Front End Design with Backend Data Management. Including Node, Express, Passport and MongoDb </p>
                       </div>
                  </div>
             </div>
             </div>
             
             <div class="row">
                 <div class="col">
                         <div class="projectBox"><a href="https://codepen.io/123xylem/pen/jrAKPN" target="_blank">
                             <img alt="Simon" src="http://westhomasdesign.com/images/projects/images/Simon_1_Exo.jpg" target="_blank">

                         <div class="caption">
                                <h6>Simon Game</h6></a>

                             <p>
                                 Javascript Application utilising Jquery and Front End Design.
                             </p>
                         </div>
                     </div>
               </div>
          
          <div class="col">
                  <div class="projectBox"><a href="https://codepen.io/123xylem/pen/JKqYZY">  
                  <img alt="Tic"  src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/75a48f/tic-tac-toe-game-in-C-Sharp/Images/TicTacToe_HD_iTunesArtwork.png"target="_blank">

                         <div class="caption">
                             <h6>TicTacToe</h6></a>
                             <p>
                                 Javascript Logic based Application utilising  Bootstrap, Jquery and JS Logic.
                             </p>
                         </div>
                     </div>
             </div>
             <div class="col">
                  <div class="projectBox"><a href="https://codepen.io/123xylem/pen/AXwwPj">
                        <img alt="Clock"  src="http://sites.psu.edu/siowfa15/wp-content/uploads/sites/29639/2015/09/Draw-an-Old-Fashioned-Alarm-Clock-Step-15.jpg"target="_blank">

                         <div class="caption">
                                                          <h6>Pomodoro Clock</h6></a>

                             <p>
                                 Alarm Clock Application utilising  Bootstrap, Jquery  JS Some Front End Design Features.
                             </p>
                         </div>
                     </div>         
                     <div class="btn btn-default" style="text-align:center; margin-left:45%; margin-right:50%; border:1px solid black;"><a style="color:black; font-weight:bold; text-decoration:none;" href="/projects">More Projects</a></div>

       </div>
       
       
            </div>
            <div class="clearfix"></div>
            
        </div>
</div>
        </div>

<!------------------------------------------------------CONTACT DIV--------------------------------------->
<div id="contact">
    <div class="contactWrapper">
        
 <div class="container">
        <div class="row ">
            <div class="col-sm-4 contactBox lastCol">
                  <img class="homeImg" src ='https://i.imgur.com/oG6eZVU.jpg'>
                           <div class="contactSpeech">
                              <p> If you have any questions Feel Free to Contact me!</p>

                           </div>

            </div>
            
                        <div class="col-sm-4 contactBox ">
                                <a class="contactBtn btn btn-default animated bounce" href="javascript:;">Contact Chris</a>
                                    <ul class="contactList" style="display:none">
      <li > <strong>Email:</strong> Cucullen111@lycos.com </li>
      <li><strong>Phone:</strong> 0426032094 </li>
               
      </ul>

                     
            </div>

                        <div class="col-sm-4 contactBox">
                <ul class="iconList">
                    <li> <a href=" https://github.com/123xylem"> <i class="fa fa-github-square fa-3x" aria-hidden="true"></i></a> </li>
                    <li><a href=" https://codepen.io/collection/nRKNmY/"> <i class="fa fa-codepen fa-3x" aria-hidden="true"></a></i> </li>
                    <li> <a href="https://www.freecodecamp.org/123xylem/"><i class="fa fa-free-code-camp fa-3x" aria-hidden="true"></i></a>
</li>

                </ul>
            </div>
            
            
    </div>
                </div>

          </div>
   

       <script>  
                 $(".expandable").mouseenter(function(){
                     $(".showMe").slideDown();
                     });

                 
                 $(".expandable2").mouseenter(function(){
                     $(".showMe2").slideDown();
                 });
                 
                 $(".contactBtn").mouseover(function(){
                     $(".contactList").slideToggle();
                      $(".contactBtn").fadeOut();
                 });
</script>



<% include ./partials/footer.ejs %>
