<% include ./partials/header.ejs %>

    <h1  class="projectTitle animated lightSpeedIn"> My Projects </h1>

   <div id="work" >
            <div class="container ">
                 <div class="row">
           <div class="col-xs-12 col-sm-6 col-md-4">
               <div class="projectBox"><a href="https://123xylem.github.io/TravelSite/"> 
               <img alt="my site" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkN_tblYv9E8kJi_WUJurD6dCEqXhW70zWYlUb7FxH3qppc9_G" target="_blank">
                      <div class="caption">
                                                       <h6> Mobile First Travel Site</h6></a>

                          <p>Mobile First Web Page utilising Gulp, Git, Image Optimisation and best Industry practices</p>  
                      </div>     
                      </div>
                          </div>
                          
                          
                          <div class="col-xs-12 col-sm-6 col-md-4">
               <div class="projectBox"> <a  href="https://visionmasonry.wordpress.com/">
               <img alt="my building site" src="https://images.pexels.com/photos/209235/pexels-photo-209235.jpeg?h=350&auto=compress&cs=tinysrgb" >  
                      <div class="caption">
                                                       <h6> Vision Masonry</h6></a>

                          <p>Local ongoing SEO Project Built on Wordpress CMS</p>  
                      </div>     
                      </div>
                          </div>
                          
                                 <div class="col-xs-12 col-sm-6 col-md-4">
               <div class="projectBox"><a  href="https://gangnamstylehair.wordpress.com/">
              <img alt="my hair site" src="https://images.pexels.com/photos/163569/pexels-photo-163569.jpeg?h=350&auto=compress&cs=tinysrgb" > 
                      <div class="caption">
                                                       <h6>Gangnam Style Hair</h6></a>

                          <p>Local Hairdressing Client that asked for a simple site with some google my business SEO. Built on Wordpress CMS</p>  
                      </div>     
                      </div>
                          </div>
                          
                             <div class="col-xs-12 col-sm-6 col-md-4">
               <div class="projectBox"> <a href="https://codepen.io/123xylem/pen/bZkAKd" >
              <img alt="Calculator" src="https://images.pexels.com/photos/67599/calculator-solar-calculator-count-how-to-calculate-67599.jpeg?h=350&auto=compress&cs=tinysrgb" > 
                      <div class="caption">
                                                       <h6>Javascript Calculator</h6></a>

                          <p>A Simple JS Project made in my beginning days of learning</p>  
                      </div>     
                      </div>
                          </div>
                          
                                  <div class="col-xs-12 col-sm-6 col-md-4">
               <div class="projectBox"><a href="https://codepen.io/123xylem/pen/aNxREJ" >
              <img alt="WikiSearch" src="https://images.pexels.com/photos/306534/pexels-photo-306534.jpeg?h=350&auto=compress&cs=tinysrgb" > 
                      <div class="caption">
                                                       <h6>Wikipedia Search Browser</h6></a>

                          <p>Using Wiki API, some front end code and a little Javascript. This is a basic search and find Wiki Browser</p>  
                      </div>     
                      </div>
                          </div>
                          
           
           <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="projectBox"><a  href="https://evolveaware.com/">
                    <img alt="my evolve site" src="https://images.pexels.com/photos/158465/waterlily-pink-water-lily-water-plant-158465.jpeg?h=350&auto=compress&cs=tinysrgb" target="_blank">
                        <div class="caption">
                             <h6> EvolveAware</h6> </a>
                            <p>Online Retail Store. Built with a  CMS and further supported with SEO SEM and SMO. </p>  
                        </div>
                        </div>
                </div>
           
             <div class="col-xs-12 col-sm-6 col-md-4 ">
                     <div class="projectBox" ><a  href="https://camp-finder-site.herokuapp.com/">
                           <img alt="my site" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFgAaM8v3hDGcBsUDro0JZ1R6z8bQqHav2HFcZqy8174U2xN5-" target="_blank"> 
                        <div class="caption">
                                                            <h6>CampSite Database</h6></a>
                            <p> Online Database Of CampSites. Including Node, Express, Passport and MongoDb </p>
                       </div>
                  </div>
             </div>

                 <div class="col-xs-12 col-sm-6 col-md-4">
                         <div class="projectBox"><a href="https://codepen.io/123xylem/pen/jrAKPN" target="_blank">
                             <img alt="Simon" src="http://westhomasdesign.com/images/projects/images/Simon_1_Exo.jpg" target="_blank">

                         <div class="caption">
                                <h6>Simon Game</h6></a>

                             <p>
                                 Javascript Application utilising Jquery and Front End Design.
                             </p>
                         </div>
                     </div>
               </div>
          
          <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="projectBox"><a href="https://codepen.io/123xylem/pen/JKqYZY">  
                  <img alt="Tic"  src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/75a48f/tic-tac-toe-game-in-C-Sharp/Images/TicTacToe_HD_iTunesArtwork.png"target="_blank">

                         <div class="caption">
                             <h6>TicTacToe</h6></a>
                             <p>
                                 Javascript Logic based Application utilising  Bootstrap, Jquery and JS Logic.
                             </p>
                         </div>
                     </div>
             </div>
             <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="projectBox"><a href="https://codepen.io/123xylem/pen/AXwwPj">
                        <img alt="Clock"  src="http://sites.psu.edu/siowfa15/wp-content/uploads/sites/29639/2015/09/Draw-an-Old-Fashioned-Alarm-Clock-Step-15.jpg"target="_blank">

                         <div class="caption">
                                                          <h6>Pomodoro Clock</h6></a>

                             <p>
                                 Alarm Clock Application utilising  Bootstrap, Jquery  JS Some Front End Design Features.
                             </p>
                         </div>
                     </div>         

       </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">

               <div class="projectBox"><a href="https://123xylem.github.io/KeyboardDj/">
                        <img alt="KeyboardDj"  src="https://cdn.pixabay.com/photo/2016/05/05/11/22/particles-1373684_960_720.jpg"target="_blank">

                         <div class="caption">
                                                          <h6>Keyboard Dj</h6>/h6></a>

                             <p>
                                JavasScript application with Paper js and Howler JS. Featuring some custom Front End design features.
                             </p>
                         </div>
                     </div>         
            </div>

    </div>
    </div>

<% include ./partials/footer.ejs %>


