

.mePic{
    border-radius:5%;
    border:1px solid black;
    max-height: 35rem;
    max-width: 30rem;
    margin-left:5rem;
}

.meText{
margin-left:2rem;}

#aboutWrapper{
    margin-left:1rem;
    margin-right:1rem;
}