.contactImg{
    margin: 0rem 0  6rem 10rem;
    max-height: 15rem;
    max-width: 10rem;
    border-radius: 15%;
    border:1px solid grey;

}


 #map {
     margin-right:5rem;
border:1px solid black;
height: 22rem;
width:100%;
margin-top:5.5rem;
       }

.contactForm{
   margin-top:5.5rem; 
   width:100%;
   max-width:250px;
   background-color:silver;
   border-radius:5%;
   border:1px solid black;
   padding:1rem;
   
}