#me{background-color:white;
    }

.meWrapper{
    margin-left:7rem;
    margin-right:10rem;
    margin-bottom: 10rem;

}

#homeTitle h1 {
    
  text-align:center;
    font-weight:900 !important;
padding:0rem 2rem 1rem 2rem;
    margin:-4rem 0% 5rem 0%;
    width:100%;
    border-radius: 5%;
   /*background: linear-gradient(to bottom right, silver 1%, white 10%); */
}



.expandable{
          background: linear-gradient(to bottom right, silver 1%, white 50%); 
    border:1px solid black;

}
.expandable2{
          background: linear-gradient(to bottom right, silver 1%, white 50%); 
    border:1px solid black;

}

.meSkills{
    margin-right:2rem;
}
.meList{
    list-style:none;
}



.homeH4{
    display:inline-block; 
padding:1rem 2rem 1rem 2rem;

    font-weight: 600;
    color:black;
margin-top:1rem;    
    text-align: center;
text-decoration:underline;
  /*-webkit-animation-iteration-count: 4;*/
  -webkit-animation-delay:1.2s;
  /*-webkit-animation-duration:1.2s;*/

}





                      /*--------------------------------WORK CSS-------------------------------*/
.homeH3{
    margin-left:2rem;
margin-bottom:3rem;    
font-weight:600;
text-align:center;
font-size:3.5rem;

}

 #work{
     padding-top:3rem;
     background-color:#eee9e9;

 }
 .workWrapper{
      margin-left:5rem;                
      margin-right:5rem;       
      padding-bottom: 3rem;
      }
      
   


                      
 #work .projectBox{
     float:left;
  max-width:50rem;
  height:30rem;
  margin-bottom:3rem;
  margin-right:30%;
  margin-left:30%;
  text-align:center;
  padding:1rem; 
  background-color:white;
  }

     @media only screen and (min-width: 550px){
 #work .projectBox{
     float:left;
  height:30rem;
  width:100%;
  margin-bottom:3rem;
  margin-right:3rem;
  margin-left:3rem;
  text-align:center;
  padding:1rem; 
  background-color:white;
  }
}
     @media only screen and (min-width: 750px){
 #work .projectBox{
     float:left;
  max-width:35rem;
  height:30rem;
  margin-bottom:3rem;
  margin-right:1rem;
  margin-left:0rem;
  text-align:center;
  padding:1rem; 
  background-color:white;
  }
}

@media only screen and (min-width: 1200px){
 #work .row .projectBox{
     float:left;
  max-width:35rem;
  height:30rem;
  margin-bottom:3rem;
  margin-right:3rem;
  margin-left:1rem;
  text-align:center;
  padding:1rem; 
  background-color:white;
  }
}


 
                      
#work .projectBox h6{
font-weight:600;
padding:2px;
text-align:center;
  color:black;
  font-size:2rem;
}

#work .projectBox img{
height:12rem;
width:12rem;  
  border:1px solid rgba(111, 111,111, 0.5);
}

#work .projectBox .caption{
    text-align:center;
    margin-left:10%;
    margin-right:10%;
}

#work .projectBox:hover{
  transform:scale(1.1);
  transition: all .2s ease-out;
}






/*---------------------------------------CONTACT _______________-------------------------------*/

#contact{
background: linear-gradient(to bottom right, silver 1%, white 50%); 
}
 .contactWrapper{
      margin-left:5rem;                
      margin-right:5rem;       
      margin-bottom:3rem;
      }
      
      
      

@media only screen and (max-width:770px){
          .lastCol{
              display:none;
              content:"";
          }
          .contactBox{
              width:50%;
          }
      }


#contact .contactBox{
    float:left;
    max-width:40rem;
    min-width:20rem;
}

          .homeImg{
border:2px solid black;
max-height: 20rem;
max-width: 25rem;
margin-top:5rem;
margin-right:-20rem;
border-radius:9%;
}


@media only screen and (min-width:990px){
    .contactSpeech{
    width:15rem;
    height:10rem;
    background-color:white;
    float:right;
    font-family: cursive;
    border:1px solid rgba(255,240,240, 0.5);
    margin-bottom:5rem;
    margin-top:5rem;
    border-top-left-radius:20%;
    border-top-right-radius:20%;
    border-bottom-right-radius:20%;
        font-size:1.4rem;
    padding:1rem;
}
}
@media only screen and (min-width:1200px){
.contactSpeech{
    width:15rem;
    height:10rem;
    background-color:white;
    float:right;
    font-family: cursive;
    font-size:1.4rem;
    border:1px solid rgba(255,240,240, 0.5);
    margin-right:3.4rem;
    margin-top: 5rem;
    margin-bottom:5rem;
    border-top-left-radius:20%;
    border-top-right-radius:20%;
    border-bottom-right-radius:20%;
    padding:1rem;
}
}


.contactSpeech p{
    margin:10% auto;
    font-size:1.4rem;
}


@media only screen and (max-width:600px){
    .contactBtn{
        margin:30% 0 0 -10%;
    }
}


.contactBtn{
    margin:30% 30%;
    height:5rem;
    color:black;
    border:1px solid black;
    font-size:2.5rem;
    font-weight:600;
    -webkit-animation-delay: 5s;
    -webkit-animation-iteration-count: infinite;
}

#contact .contactList{
    display:none;
    margin:28% 1rem;
    /*margin-left:-5%;*/
    text-align: center;
  background: linear-gradient(to bottom right, silver 1%, white 50%); 
     border-radius:8%;

}



.iconList{
    list-style: none;
            margin-top:30%;

}

.iconList li{
        display:inline;
        margin:0.5rem;

}


@media only screen and (max-width:999px){
    .iconList li {
        margin:0 -0.4rem;
    }
}



.iconList li a{
    color:black;
    margin:0 1rem;
}






/*-----------------------------meMedia----------------------*/



/*@media only screen and (min-width: 990px){*/
/*    #me > div.meWrapper > div{*/
/*        margin-left:16%;*/
/*    }*/
/*    }*/
    
 


 /*        @media only screen and (min-width:700px){*/
 /*  #me .homeImg{*/
 /*        margin-right: 0%;*/
 /*        border:1px solid black;*/
 /*    }*/
 /*}*/
 
 /* @media only screen and (min-width:750px){*/
 /*  #me .homeImg{*/
 /*        margin-right: 15%;*/
 /*        border:1px solid black;*/
 /*    }*/
 /*}*/
 /*  @media only screen and (min-width:800px){*/
 /*  #me .homeImg{*/
 /*        margin-right: 10%;*/
 /*        border:1px solid black;*/
 /*    }*/
 /*}*/

 /*  @media only screen and (min-width:890px){*/
 /*  #me .homeImg{*/
 /*        margin-right: 15%;*/
 /*        border:1px solid black;*/
 /*    }*/
 /*}*/


    
 /*        @media only screen and (min-width:990px){*/
 /*  #me .homeImg{*/
 /*        margin-right: 30%;*/
 /*        border:1px solid black;*/
 /*    }*/
 /*}*/

    
 
 


 /*-----------------------WORKProjectBoxes MEDIA---------------------------*/
                                                    /*     @media only screen and (min-width: 990px){*/
                                                    /* #work .row {*/
                                                    /*  margin-left: 5%;*/
                                                    /*  }*/
                                                    /*}*/
                                                    /*     @media only screen and (min-width: 1000px){*/
                                                    /* #work .row {*/
                                                    /*  margin-left: 10%;*/
                                                    /*  }*/
                                                    /*}*/
                                                    
                                                    /*   @media only screen and (min-width: 1220px){*/
                                                    /* #work .row {*/
                                                    /*  margin-left: -15px;*/
                                                    /*  }*/
                                                    /*} */
                                                    
                                                    
                                   